syntax: glob
.gitignore~

src/*.dSYM
src/*.o

Makefile
Makefile.in
aclocal.m4
atmosphere/Makefile
atmosphere/Makefile.in
autom4te.cache
utom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
install-sh
missing
res/Makefile
res/Makefile.in
seds/Makefile
seds/Makefile.in
src/Makefile
src/Makefile.in
src/button.inc
src/photometry.inc
src/version.inc
stamp-h1

src/kolores

